:root{
    --normalcolor : rgb(212, 192, 218) ;
    --gradient : linear-gradient(to bottom left, rgb(72, 27, 197),rgb(149, 9, 168) );
}
*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    font-family: sans-serif;
}

/* headings */
h1{
    font-size: 2rem;
    letter-spacing: 0.01rem;
    margin: 1.2em;
}

/* container */
.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 5px 20px rgb(128, 128, 128);
    border-radius: 10px;
    overflow: hidden;
}

/* form container */
.form-container{
    padding: 0 !important;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 150%;
    border-radius: 10px;
    transition: all .5s;
    position: absolute;
    left: 0;
    right: 0;
    top: -75%;
    box-sizing: border-box;
    z-index: 2;
}

/* form */
.form h1{
    font-weight:900;
    margin: 5px ;
}
.form a i{
    color: var(--normalcolor);
    background-color: rgb(75, 75, 75);
    border-radius: 50%;
    display: inline-block;
    outline: none;
    border: none;
    margin: 4px;
    padding: 10px;
    box-sizing: border-box;
}
.form a i.extra{
    padding: 10px 13px;
}
.form a i:hover{
    background-image : var(--gradient);
}
.form input{
    display: block;
}
.form h1,.form input::placeholder, .form #forgot{
    text-transform: capitalize;
}
.form input::placeholder{
    font-weight: bold;
}
.form input:not(input[type="submit"]){
    margin: 10px auto;
    width: 100%;
    padding: 10px;
    background-color: rgb(245, 245, 245);
    border: none;
    outline: none;
    transition: all .5s;
}
.form input:not(input[type="submit"]):focus{
    background-color: rgb(228, 228, 228);
}
.form input[type="submit"]{
    background-image: var(--gradient);
    outline: none;
    box-shadow: none;
    border: none;
    text-transform: uppercase;
    border-radius: 20px;
    color: var(--normalcolor);
    padding: 10px 15px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin: 15px auto;
    width: 120px;
}
.form input[type="submit"]:hover{
    cursor: pointer;
    transform: scale(1.01);
}
.form input[type="submit"]:active{
    transform: scale(0.99);
    opacity: 0.95;
    transition:all 0.1s;
}

/* sign in and sign up*/
.form-container .sign-in, .form-container .sign-up{
    width: 100%;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 50%;
    margin: 0;
    box-sizing: border-box;
}
.form-container .sign-up h1{
    margin: 0;
}

/* overlay container */
.overlay-container{
    background-image: var(--gradient);
    width: 100%;
    height: 50%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    font-size: 0.8rem;
    transition: all .5s;
}
.overlay-container h1{
    text-transform: capitalize;
    margin: 4px 0;
    font-size: 1.5rem;
    font-weight: bolder;
}
.overlay-container p::first-letter{
    text-transform: uppercase;
}
.overlay-container button{
    text-transform: uppercase;
}
.overlay-container button{
    border: 1px solid white;
    background: transparent;
    box-shadow: none;
    text-transform: uppercase;
    border-radius: 20px;
    color: var(--normalcolor);
    padding: 7.5px 10px;
    font-weight: bolder;
    letter-spacing: 1px;
    width: 100px;
}
.overlay-container button:hover{
    cursor: pointer;
}
.overlay-container button:active{
    transform: scale(1.05);
    transition: all 20ms ease;
}

/* sign up overlay */
.sign-up-overlay{
    width: 100%;
    height: 50%;
    color: var(--normalcolor);
}

/* sign in overlay */
.sign-in-overlay{
    width: 100%;
    height: 50%;
    color: var(--normalcolor);
}

/* desktop view */
@media  screen and (min-width:630px) {
    /* container */
    .container{
        width: 600px;
        flex-direction: row;
    }

    /* form container */
    .form-container{
        box-shadow: 0px 5px 20px rgb(128, 128, 128);
        flex-direction: row;
        height: 100%;
        top: 0 !important;
        bottom: 0 !important;
        justify-content: center;
        align-items: center;
        z-index: 2;
        left: -50%;
        transition: all .7s;
    }

    /* sign in and sign up */
    .form-container .sign-in, .form-container .sign-up{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    /* overlay container */
    .overlay-container{
        flex-direction: row-reverse;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        top: 0 !important;
        bottom: 0 !important;
        z-index: 1;
        left: 50%;
        transition: all .7s;
    }

    /* sign up overlay*/
    .sign-up-overlay, .sign-in-overlay{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}